/* Reset style */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-snap-type: mandatory;
    
    scroll-behavior: smooth;
}

/* navbar style */

.navbar{
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 2224px;
    height: 80px;
    text-align: center;
    align-items: center;
    display: flex;
}
.navbar::before{

    content: '';
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 2500px;
    height: 80px;
    z-index: -1;
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    
   
}
.navbar .logo{
    width: 60px;
    height: 60px;
    margin: 10px;
   
}
.navbar img{
    width: 60px;
    height: 60px;
   
}
.navbar ul{
    height: 40px;
    margin-left: 200px;
    text-align: center;
    align-items: center;
    display: flex;
}    
.navbar ul li{
    list-style-type: none;
    margin-left: 20px;
    
   
}  
.navbar ul li a{
    text-decoration: none;
    font-size: 1.08rem;
    color: white;
    padding: 6px;
    
}  
.navbar ul li a:active{
    color: #999;
    
}  
.navbar ul li a:hover{
    color: #999;
    
}  
select{
    width: 70px;
    height: 30px;
    color: white;
    background-color: rgba(65, 60, 60, 0.253);
    border: 3px solid transparent;
    margin-left: 14px;
    user-select: none;
}

.menu{
    display: none;
     position: fixed;
     width: 40px;
     height: 30px;
     top: 15px;
     left: 5%;
     padding: 6px;
     cursor: pointer;
    border: 2px solid rgb(119, 119, 119);
    border-radius: 8px;
    background-color: #222;
}
.line{
    width: 33px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px 3px;
}
.cross{
  display: none;
  cursor: pointer;
}

/* utility section */
.heading{
    width: auto;
    height: 100px;
   padding: 20px;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*  utility section end */

/* home style */

#home{
    width: auto;
    height: 700px;
    opacity: 0.9;
    background-image: url(image/bg1.jpg);
    background-color: rgba(0, 0, 0, 0.54);
    background-blend-mode: darken;
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    
}
.home-box{
    width: 580px;
    margin: auto;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    

}
.home-box h1{
    font-weight: bolder;
    font-size: 40px;
}

 .btn{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 23px;
   color: white;
   cursor: pointer;
   font-weight: bolder;
    background-image: linear-gradient(to right,blue,violet);
    text-align: center;
    align-items: center;
    justify-content: center;

}
.home-box .btn:hover{
    background-image: none;
    background-color: transparent;
   border: 2px solid white;
    cursor: pointer;

}
/* About section */

#about{
    padding-top: 100px;
    width: auto;
    height: 500px;
    background-color: rgb(221, 240, 240);
    display: flex;
}
.img-box{
    background-image: url(image/img2.webp);
    width: 380px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-box{
    font-size: 23px;
    width: 560px;
    height: 400px;
    background-color: rgb(221, 240, 240);
    color: white;
   
}
.content-box .content{
    font-size: 17px;
    color: #888;
    width: auto; 
  
}
.content-box p{
    font-size: 17px;
    color: #888;
    width: 250px;
}
.content-box h1{
  margin: 20px;
  color: rgb(167, 82, 236);
}
.about-content{
   display: flex;
   width: 600px;
   height: 100px;
   margin: 20px;
}

.about-content h4{
    margin: 20px;
    color: rgb(0, 0, 0);
 }
 .about-content i{
   font-size: 36px;
   background-image: linear-gradient(to right,blue,violet);
 }

.service-box{
  background-color: rgb(221, 240, 240);
     width: 300px;
     height: 162px;
 }
 .support-box{
      background-color: rgb(221, 240, 240);
    width: 240px;
       height: 161px;
 }

/* we offer section */
#we-offer{
    padding: 60px 20px;
    width: auto;
    height: 760px;
    background-color: rgb(252, 249, 243);
}

.heading h6{
    color: #999;
   
}
.container{
    width: auto;
    height: 400px;
    display: flex;
    font-size: 18px;

}
.container .we-box{
    width: 236px;
    height: 300px;
    background-color: rgb(252, 249, 243);
    margin: 5px;

}
.container .we-box i{
   color: rgb(224, 179, 245);

}
.container .we-box .btn{
    width: 160px;
    height: 35px;
    border: 2px solid black;
    border-radius: 23px;
    background-image: none;
    background-color: transparent;
   border: 2px solid white;
    cursor: pointer;
    color: #111;

}
.container .we-box:hover .btn{
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 23px;
   color: white;
    background-image: linear-gradient(to right,blue,violet);
    text-align: center;
    align-items: center;
    justify-content: center;

}
.container .we-box:hover i{
    color: violet;
}
.container2{
    width: auto;
    height: 250px;
    display: flex;
}
.container2 .client{
    width: 510px;
    height: 200px;
    background-color: black;
    color: rgb(189, 189, 189);
    font-family: 'Bitter', serif;
    
}
.container2 .client h1{
    font-weight: bold;
    color: rgb(54, 54, 241);
    
}
.container2 .client img{
    width: 250px;
    height: 200px;
    float: left;
    margin-right: 5px;
    
}

/* portfolio style */

#portfolio{
    padding-top: 80px;
    width: auto;
    height: 1600px;
    background-color: rgb(252, 249, 243);
}

 .heading h1{
    color: #111;
}
 .heading h5{
    color: #999;
}


#portfolio .work-box{
    width: auto;
    height: 300px;
    background-image: linear-gradient(to right,blue,violet);
    color: white;
    margin: 70px 5px;
    display: flex;
    text-align: center;
    font-size: 25px;
    
}
#portfolio .work-box ul,li,h6{
    list-style-type: none;
    color: white;
    margin: auto;
}
#portfolio .work-box ul li h1{
    color: white;
    
}
/* Recent work style */
#recent-work{
    padding-top: 100px;
    width: auto;
    height: 700px;
    background-color: rgb(252, 249, 243);
}
.recent-container{
    width: auto;
    height: 700px;
    display: flex;
}
.recent-container .recent-box{
    width: 290px;
    height: 379px;
    background-color: rgba(37, 36, 36, 0.582);
    margin: 10px;
    background-blend-mode: darken;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    
}
.recent-container .recent-box h1,p{
    color: rgb(182, 182, 182);
    
}
.recent-container .recent-box:hover h1{
    color: rgb(255, 0, 255);
    
}
.recent-container .recent-box:hover{
    opacity: 1;
    
}
/* contact section */
#contact{
    width: auto;
    height: 700px;
    display: flex;
    padding-top: 100px;
}
.form{
    width: auto;
    height: 490px;
    background-color: rgb(236, 236, 236);
   
}
.map{
    width: 500px;
    height: 490px;
    padding-left: 10px;
    background-image: url(image/map.jpg);
}


form{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
form input,textarea{
    width: 50%;
    height: 30px;
    margin: 10px;
    border: 2px solid transparent;
    text-align: center;
    align-items: center;
    border-radius: 12px;
}

/* footer style */
footer{
    width: auto;
    height: 500px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    
}
footer .fo-container{
width: auto;
height: 400px;
   display: flex;
    
}
footer .footer-box{
    width: 300px;
    height: 300px;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}
footer .footer-box li{
  font-size: 30px;
  color: blue;
}
footer .footer-box input{
    width: 70%;
    height: 40px;
    border-radius: 23px;
    text-align: center;
    margin-bottom: 30px;
   
  }

  footer .footer-box .arrow{
    background-color: blue;
    width: 60px;
    height: 40px;
    border: transparent;
    border-radius: 12px;
   
  }
  footer .footer-box i{
    background-color: #222;
    color: rgb(209, 208, 208);
    padding: 8px;
    margin: 10px;
   
  }
  footer .footer-box i:hover{
    background-color: #666;
   
  }

/* MEDIA QUARY START */
/* media quary for more than 1024px */

  @media only screen and (min-width: 1120px) {
  
    .recent-container{
        width: auto;
    }
    .recent-container .recent-box{
        width: auto;
        margin: 20px;
    }
    .container2{
        width: 2000;

    }
    .container2 .client{
        width: auto;

    }
    .form{
        width: auto;
    }
    .form form{
        width: auto;
    }
  
}


/* media quary for less than 460px */
  @media only screen and (max-width: 860px) {
     
 
    .navbar{
      flex-direction: column;
      transition: 1.4s;
      width: 0%;
      position: fixed;
      top: 0%; 
      left: -310px;
      height: 100%;
      background-color: #111;
      opacity: 0.9;
      align-items: center;
    
    }
    .navbar::before{
        display: none;
      }
    .navbar ul{
         margin: auto;
        flex-direction: column;
     
      }
      .navbar ul li{
        padding: 10px;
      }
      .menu{
          display: block;
      }
      .cross{
          width: 24px;
          height: 34px;
          display: block;
          position: absolute;
          top: 3%;
          right: 4%;
          margin: 4px;
         opacity: 0.8;
         
      }
      .cross:hover{
    
       opacity: 1;
    }
   .cross  .line1{
       border-radius: 2px;
       width: 33px;
       height: 4px;
       background-color: #fff;
       transform: rotate(-45deg) translate(-9px, 6px);
      
    }
      
    .cross   .line2{
        border-radius: 2px;
        width: 33px;
        height: 4px;
        background-color: #fff;
        transform: rotate(45deg) translate(4px, 5px);
      }
    
      .navgo{
        flex-direction: column;
      transition: all 1.5s;
      width: 55%;
      position: fixed;
      top: 0%; 
      left: 0px;
      height: 100%;
      background-color: #111;
      opacity: 0.9;
      align-items: center;
      }
      .v-class{
          opacity: 0;
          transition: 1.4s;

      }
      #home{
        width: auto;
        height: 500px;
    }
    .home-box{
        width: auto;
        margin: auto;
        height: 600px;
    
    }
    .home-box h1{
       
        font-size: 30px;
    }
    #about{
        padding-top: 100px;
        width: auto;
        height: 1000px;
        flex-direction: column;
        display: flex;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 90px;
        margin: 20px;
     }
     .content-box{
         width: auto;
         height: 700px;
     }
     .img-box{
        margin: auto;
        width: 310px;
        height: 400px;
       
    }
    #we-offer{
        width: auto;
        height: 2400px;
        display: flex;
        margin: 0px;
        flex-direction: column;
    }
    .container{
        width: auto;
        height: 1500px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    
    }
    .container .we-box{
        width: auto;
        height: 300px;
        margin: auto;
    
    }
    .container2{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .container2 .client{
        width: auto;
        height: 435px;
      
    }
    .container2 .client img{
        width: 250px;
        height: 320px;
       
        
    }

    #portfolio{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 755px;
     
    }
    .por-heading{
        margin: 0;
    }
    #portfolio .por-img{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 300px;
        overflow: hidden;
     
    } 
    #portfolio .por-img img{
       
        width: 200px;
        height: 2000px;
     
    } 
    #portfolio .work-box{
       
        height: 200px;
        width: auto;
        font-size: 14px;
        
    }
    #recent-work{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        height: 1200px;
        
    }
    .recent-container{
        display: flex;
        flex-direction: column;
        height: 1024px;
        margin: auto;
       
    }
    .recent-container .recent-box{
        width: 290px;
        height: 400px;
        margin: 10px;
        
    }

    #contact{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: 1000px;
    }

    .map{
        width: 600px;
        height: 490px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-position: center;
        background-size: cover;       
    }
    .form{
        width: 600px;
        height: 490px;
        
       
    }
    footer{
    height: 1100px;
    }

    footer .fo-container{
   
       height: 1000px;
       display: flex;
       flex-direction: column;
        
    }
    footer .footer-box{
      margin: auto;
    }
  



  }
